/*==UserStyle==
@author Gersonzao
@description A dark, black theme for ecosia.org and ecosiashop.com
@homepageURL http:github.com/Gersonzao/BlackEcosia
@name Black Ecosia
@namespace github.com/openstyles/stylus
@updateURL http:userstyles.world/api/style/6564.user.css
@version 1.0.6
==/UserStyle==*/
@-moz-document domain("ecosia.org"){
/*FaviconizeGoogle*/
.favicon {
	display: none
}
/*Color index*/
:root{
--color:#000;
--color-background-primary:#000;
--color-background-secondary:#000;
--color-background-tertiary:#000;
--color-background-quaternary:#000;
--color-background-elevation-1:#000;
--color-button-background-secondary:#000;
--color-button-background-secondary-hover:#000;
--color-button-background-secondary-active:#111;
--color-border:#000;
--color-button-border:#000;
--color-button-content-secondary:#fff;
--color-button-content-tertiary:#000;
--color-decorative-border-1:#000;
--color-disabled:#000;
--color-elevation-layer-1:#000;
--color-elevation-layer-2:#000;
--color-form-border-default:#000;
--color-form-border-primary-active:#000;
--color-link-primary:#fff;
--color-link-secondary:#fff;
--color-link-results-default:#8ab4f8;
--color-link-results-visited:#bb8af9;
--color-highlighter:#111;
--color-highlight-primary:#111;
--color-text-primary:#fff;
--color-text-secondary:#fff;
--color-url:#c0c0c0;
--text-color:#fff
}
/*Background color*/
body{
color:#fff;
	background-color:#000
}
/*Search*/
.logo__icon{
color:#fff
}
/*Counter pop-out Learn more hyperlink color*/
.personal-counter-content__body > a:nth-child(2){
color:#c0c0c0
}
/*Counter pop-out text*/
.personal-counter-content[data-v-9fa15ab4]{
	color:#fff
}
/*Counter pop-out Sign out*/
.link--color-primary[data-v-b4e44ddc]{
	color:#c0c0c0
}
/*News color*/
.notification-pill{
color:#fff!important
}
/*News pop-out More news color*/
.link--color-primary [data-v-b4e44ddc]{
	color:#fff
}
/*Hamburger color*/
.icon--icon-hamburger{
color:#fff
}
/*Search filters dropdown color*/
.search-filters[data-v-5ec1316c]{
	color: #fff
}
/*No result text color*/
.message-tips[data-v-4a5601a4]{
	color: #fff
}
/*Ad color*/
.ecosia-label[data-v-1bba0507]{
	color:#ffa000
}
/*Active tab bottom line color*/
.tab--highlighted[data-v-514dfd22]::after, .tab--highlighted[data-v-514dfd22]:focus-within::after, .tab--highlighted[data-v-514dfd22]:hover::after{
	background-color: var(--color-brand-primary)
}
/*Search text*/
.layout[data-v-1352b31e]{
	color:#808080
}
/*Search queries links part*/
.result__source[data-v-008b2db9]{
	color:#808080
}
/*Related searches color (containing the same query)*/
.related-queries__text[data-v-372398fe]{
	color:#808080;
}
/*Current page text color*/
.pagination__page--current[data-v-7f2c0350]{
	color:#fff
}
/*Images left button surrounding gradient color*/
.query-expansions__control-background--left[data-v-5fe9659e] {
	background: linear-gradient(270deg,#fff0,#000 30%,var(--color-background-primary))
}
/*Images right button surrounding gradient color*/
.query-expansions__control-background--right[data-v-5fe9659e] {
	background: linear-gradient(90deg,#fff0,#000 30%,var(--color-background-primary))
}
/*Image result title*/
.image-result__details-title[data-v-353b9075]{
	color:#fff
}
/*Image result description*/
.image-result__details-source[data-v-353b9075]{
	color:#808080
}
/*Page buttons hover*/
.base-button--variant-solid-white.base-button--force-hover[data-v-4913d094], .base-button--variant-solid-white[data-v-4913d094]:hover{
	background-color:#111
}
/*Settings menu text color*/
.main-nav-menu[data-v-55fa5bea]{
	color:#fff
}
/*Settings border color hover*/
.select .input__element:hover{
	border-color:#000
}
/*End buttons*/
.base-button--variant-outline[data-v-4913d094]{
	color:#fff!important;
	background-color:#111
}
/*Settings*/
/*Text color*/
.settings__form[data-v-25767cb0]{
	color: #fff
}
/*Text description*/
.field__description[data-v-02a00247]{
	color: #808080
}
/*OptiSearch support*/
/*Hyperlink color*/
.optipanel .title{
	color:#8ab4f8
}
/*ecosia.org*/
/*Main section background*/
.above-fold-section[data-v-2d7eb42d]{
	background-color:#000
}
/*Main section logo*/
.above-fold-section__logo[data-v-2d7eb42d]{
color:#808080
}
/*Trees background*/
.indexpage-forest--addon[data-v-0a6b427c]{
	background-color:#000
}
/*Section Two title and text*/
.projects-section__project-description[data-v-be4927fa], .projects-section__project-title[data-v-be4927fa]{
	color:#000
}
/*Section Two button text*/
.base-button--variant-outline[data-v-4913d094]{
	color:#000
}
/*Section Two+ logo*/
.index-header__logo[data-v-7dd8a73c]{
	color:#fff
}
/*'Discover all projects' button active state*/
.base-button--variant-solid-white[data-v-4913d094]:active{
	background-color:#000;
	border-color:#000
}
/*Section Five background*/
.section-wrapper--gray[data-v-37e9beaa]{
	background:#000
}
/*blog.ecosia.org (Home)*/
/*Header*/
.c-header{
	background-color:#000
}
/*Header links*/
.c-nav__link{
	color:#fff
}
/*Search button*/
.toggle-search-button{
filter: brightness(100)
}
/*Search pop-out background*/
.c-search{
	background:#000
}
/*Search box*/
.c-search__input[type="search"]{
	background-color:#000
}
/*Search box result*/
.c-search-result{
	background-color:#000;
color:#fff
}
/*Search box close*/
.c-search__close{
	background-color:#000;
	border: 1px solid#fff
}
/*Search box close x*/
.c-search__close .icon{
	fill:#fff
}
/*Search box close hover*/
.c-search__close:hover .icon{
	fill:#fff
}
/*Search box placeholder*/
.c-search__input[type="search"]::placeholder{
	color:#fff
}
/*Search box text*/
.c-search__input[type="search"]{
	color:#fff
}
/*Search box icon*/
.c-search__icon{
	fill:#fff
}
/*Search on Ecosia*/
.c-additional-nav .c-ecosia-search{
	color:#fff;
border-color:#000
}
/*Language select*/
.c-language-select{
border-color:#000!important;
filter: brightness(100)
}
/*Language select boxes*/
.c-language-select option{
color:#fff;
background-color:#000
}
/*Logo*/
.c-logo path{
fill:#fff
}
/*Post title*/
.c-post-card__title-link{
	color:#fff
}
/*Post text*/
.c-post-card__excerpt{
	color:#808080
}
/*More posts button*/
.c-btn{
	background-color:#000;
color:#fff
}
/*Footer background*/
.c-footer{
	background-color:#000
}
.c-footer__wave{
	filter: brightness(0)
}
/*Footer links*/
.c-footer__gdpr li a{
	color:#fff
}
/*Blog post*/
.c-post-hero__content{
	background-color:#000
}
/*Author*/
.c-author--opinion .c-author-card{
	background:#000;
	border-bottom-color:#000
}
/*Author border color*/
.c-author__image{
	border-color:#808080
}
/*Sidebar*/
.c-sidebar{
	background-color:#000
}
/*Sidebar borders*/
.c-teaser:not(:last-child){
	border-color:#000
}
/*Sidebar titles color*/
.c-teaser__title{
	color:#c0c0c0
}
/*Tags*/
.c-tags a{
	color:#fff;
	background-color:#000;
	border-color:#808080
}
/*Merch text*/
.c-widget-shop__claim{
	color:#fff
}
/*Dig deeper... top wave*/
.c-related .top-wave path{
	fill:#111
}
/*Dig deeper...*/
.c-related{
	background-color:#111
}
/*explore.ecosia.org/jobs*/
/*Burger background color*/
.icon.is-white[data-v-e0e1d24a]{
	background-color:#000
}
/*Burger color*/
.icon svg[data-v-e0e1d24a]{
	filter: invert(100%)
}
/*Menu background color*/
.module-transparent-header__menu__dropdown{
	background-color:#000
}
/*Menu text color*/
.module-transparent-header__menu__dropdown a{
	color:#fff
}
/*Menu inner border*/
.module-transparent-header__menu__dropdown a:nth-child(6){
	border-color:#000
}
/*Menu items hover color*/
.module-transparent-header__menu__dropdown a:hover{
	background-color:#111
}
/*Tree wave background*/
.footer__wave-container{
	color:#000
}
/*End background*/
.footer-content{
	background:#000
}
/*Social links icons*/
.social-share__link[data-v-4bcf86fa]{
	filter: invert(100%)
}
/*B corporation logo*/
.footer__logo img{
	filter: invert(26.5%)
}
/*explore.ecosia.org/ecosia-search-tos*/
/*Logo*/
.logo.is-colored[data-v-7f7785d1]{
	color:#fff
}
/*info.ecosia.org*/
/*Search bar color*/
.search-form-input{
	background-color:#000
}
/*LinkedIn link*/
.nav-social-link:last-child path{
fill:#000
}
/*info.ecosia.org/imprint*/
/*Section 2+ logo*/
.logo-anchor svg{
	color:#fff
}
/*info.ecosia.org/privacy*/
/*Read more background*/
.privacy-policy .read-more{
	background-image: linear-gradient(to bottom,#fff0 0%,#000 20%,#000 100%)
}
/*info.ecosia.org/what*/
/*Logo*/
.logo-anchor.logo-white svg{
	color:#fff
}
/*Section Four+Six text color*/
.snapshot-content{
	color:#000
}
/*Section Four+Six title color*/
.snapshot-content .h2{
	color:#000
}
/*Side buttons hover pop-out square background*/
.sidenav-link-text{
	background:#000
}
/*End hr*/
hr{
	visibility: hidden
}
/*plant.ecosia.org*/
/*Header color*/
.main-header-wrapper{
	background-color:#000
}
/*Header text color*/
.header-tools .navigation a{
	color:#fff
}
/*Wildfire relief*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/wildfire-relief-1_320x320.jpg?v=1658407397 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/wildfire-relief-1.png");
background-size: cover;
padding: 50%
}
/*Green game jam*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/green-game-jam-1_320x320.jpg?v=1653387614 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/green-game-jam-1.png");
background-size: cover;
padding: 50%
}
/*Climate action*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/Climate-action-1_320x320.jpg?v=1637228600 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/Climate-action-1.png");
background-size: cover;
padding: 50%
}
/*Urban equity*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/urban-equity-1_320x320.jpg?v=1645008820 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/urban-equity-1.png");
background-size: cover;
padding: 50%
}
/*Wildlife*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/Wildlife-1_320x320.jpg?v=1637228861 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/Wildlife-1.png");
background-size: cover;
padding: 50%
}
/*Impact bundle*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/Impact-bundle-1_320x320.jpg?v=1637157971 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/Impact-bundle-1.png");
background-size: cover;
padding: 50%
}
/*Title color*/
.default-style .section-title, .default-style h1, .default-style h2, .default-style h3, .default-style h4, .default-style h5, .default-style h6{
	color:#fff
}
/*Section three background*/
.contrast-style{
	background-color:#000
}
/*Section text color*/
.contrast-style .product-list-item-title, .contrast-style .section-title, .contrast-style h1, .contrast-style h2, .contrast-style h3, .contrast-style h4, .contrast-style h5, .contrast-style h6{
	color:#fff
}
/*Footer color*/
.footer-wrapper{
	background-color:#000
}
/*plant.ecosia.org/collections*/
/*Title color*/
h1, h3, h4, h5, h6{
	color:#fff
}
/*plant.ecosia.org/collections//*/
/*Title color*/
.product-title a{
	color:#fff
}
/*More info text*/
.rte .tabs li a{
color:#fff
}
/*Checkbox background color*/
.input-checkbox-title{
	background-color:#000
	}
/*Add to cart button background*/
.smart-payments .button:not(:disabled){
	background:#000
}
/*Empower women*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/Women-1_480x480.jpg?v=1637158117 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css.elements/plant.ecosia.org%C2%A8collections%C2%A8trees/Women-1.png");
background-size: cover;
padding: 50%
}
/*Endangered trees*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/Endangered-trees-1_480x480.jpg?v=1637157695 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org%20collections%20trees/Endangered-trees-1.png");
background-size: cover;
padding: 50%
}
/*Clean water*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/clean-water-1_480x480.jpg?v=1637157463 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org%20collections%20trees/clean-water-1.png");
background-size: cover;
padding: 50%
}
/*Wildfire relief*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/wildfire-relief-1_480x480.jpg?v=1658407397 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/wildfire-relief-1.png");
background-size: cover;
padding: 50%
}
/*Green game jam*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/green-game-jam-1_480x480.jpg?v=1653387614 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/green-game-jam-1.png");
background-size: cover;
padding: 50%
}
/*Climate action*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/Climate-action-1_480x480.jpg?v=1637228600 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/Climate-action-1.png");
background-size: cover;
padding: 50%
}
/*Urban equity*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/urban-equity-1_480x480.jpg?v=1645008820 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/urban-equity-1.png");
background-size: cover;
padding: 50%
}
/*Wildlife*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/Wildlife-1_480x480.jpg?v=1637228861 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/Wildlife-1.png");
background-size: cover;
padding: 50%
}
/*Impact bundle*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/Impact-bundle-1_480x480.jpg?v=1637157971 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/Impact-bundle-1.png");
background-size: cover;
padding: 50%
}
/*plant.ecosia.org/collections/trees*/
/*Subtitles*/
.product-list-item-title a{
	color:#fff
}
/*Empower women*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/Women-1_320x320.jpg?v=1637158117 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css.elements/plant.ecosia.org%C2%A8collections%C2%A8trees/Women-1.png");
background-size: cover;
padding: 50%
}
/*Endangered trees*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/Endangered-trees-1_320x320.jpg?v=1637157695 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org%20collections%20trees/Endangered-trees-1.png");
background-size: cover;
padding: 50%
}
/*Clean water*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/clean-water-1_320x320.jpg?v=1637157463 1.00x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org%20collections%20trees/clean-water-1.png");
background-size: cover;
padding: 50%
}
/*plant.ecosia.org/cart*/
/*First line color*/
.cart-header{
	color:#888
}
/*First border color*/
.cart-header{
	border-color:#000
}
/*Item border colors*/
.line-item{
	border-color:#000
}
/*Quantity*/
.line-item-quantity-input {
	background-color:#000;
	color:#fff
}
.line-item-quantity-decrement {
	color:#fff;
	border-color:#000
}
.line-item-quantity-increment {
	color:#fff;
	border-color:#000
}
/*Cart items*/
/*Wildfire relief*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/wildfire-relief-1_100x100.jpg?v=1658407397 1x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/wildfire-relief-1_200x200.jpg?v=1658407397 2x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/wildfire-relief-1_300x300.jpg?v=1658407397 3x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/wildfire-relief-1_400x400.jpg?v=1658407397 4x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/wildfire-relief-1.png");
background-size: cover;
padding: 50%
}
/*Green game jam*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/green-game-jam-1_100x100.jpg?v=1653387614 1x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/green-game-jam-1_200x200.jpg?v=1653387614 2x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/green-game-jam-1_300x300.jpg?v=1653387614 3x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/green-game-jam-1_400x400.jpg?v=1653387614 4x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/green-game-jam-1.png");
background-size: cover;
padding: 50%
}
/*Climate action*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/Climate-action-1_100x100.jpg?v=1637228600 1x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/Climate-action-1_200x200.jpg?v=1637228600 2x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/Climate-action-1_300x300.jpg?v=1637228600 3x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/Climate-action-1_400x400.jpg?v=1637228600 4x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/Climate-action-1.png");
background-size: cover;
padding: 50%
}
/*Urban equity*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/urban-equity-1_100x100.jpg?v=1645008820 1x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/urban-equity-1_200x200.jpg?v=1645008820 2x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/urban-equity-1_300x300.jpg?v=1645008820 3x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/urban-equity-1_400x400.jpg?v=1645008820 4x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/urban-equity-1.png");
background-size: cover;
padding: 50%
}
/*Wildlife*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/Wildlife-1_100x100.jpg?v=1637228861 1x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/Wildlife-1_200x200.jpg?v=1637228861 2x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/Wildlife-1_300x300.jpg?v=1637228861 3x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/Wildlife-1_400x400.jpg?v=1637228861 4x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/Wildlife-1.png");
background-size: cover;
padding: 50%
}
/*Impact bundle*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/Impact-bundle-1_100x100.jpg?v=1637157971 1x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/Impact-bundle-1_200x200.jpg?v=1637157971 2x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/Impact-bundle-1_300x300.jpg?v=1637157971 3x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/Impact-bundle-1_400x400.jpg?v=1637157971 4x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org/Impact-bundle-1.png");
background-size: cover;
padding: 50%
}
/*Empower women*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/Women-1_100x100.jpg?v=1637158117 1x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/Women-1_200x200.jpg?v=1637158117 2x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/Women-1_300x300.jpg?v=1637158117 3x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/Women-1_400x400.jpg?v=1637158117 4x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css.elements/plant.ecosia.org%C2%A8collections%C2%A8trees/Women-1.png");
background-size: cover;
padding: 50%
}
/*Endangered trees*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/Endangered-trees-1_100x100.jpg?v=1637157695 1x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/Endangered-trees-1_200x200.jpg?v=1637157695 2x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/Endangered-trees-1_300x300.jpg?v=1637157695 3x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/Endangered-trees-1_400x400.jpg?v=1637157695 4x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org%20collections%20trees/Endangered-trees-1.png");
background-size: cover;
padding: 50%
}
/*Clean water*/
[srcset="//cdn.shopify.com/s/files/1/0506/3055/7870/products/clean-water-1_100x100.jpg?v=1637157463 1x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/clean-water-1_200x200.jpg?v=1637157463 2x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/clean-water-1_300x300.jpg?v=1637157463 3x, //cdn.shopify.com/s/files/1/0506/3055/7870/products/clean-water-1_400x400.jpg?v=1637157463 4x"]{
background-image: url("https://raw.githubusercontent.com/Gersonzao/UserCSS/main/Ecosia.css/plant.ecosia.org%20collections%20trees/clean-water-1.png");
background-size: cover;
padding: 50%
}
/*plant.ecosia.org/checkouts*/
/*Left background*/
.wJzc6, .wJzc6._1Ty2x ._2nwuM{
	background-color:#000
}
/*Right background*/
._2xJx_, ._2xJx_._1Ty2x ._2nwuM{
	background-color:#000
}
/*Information, Euro and "€x" color*/
._19gi7ytb{
	color:#fff
}
/*Contact information and Billing address color*/
.n8k95w1{
	color:#fff
}
/*Checkbox background color*/
._7ozb2ut{
	background:#000
}
/*Select options*/
._1fRUX{
background-color:#000
}
/*"Email me with news and offers" and "OR" color*/
._1ip0g651{
	color:#fff
}
/*Email placeholder color*/
._7ozb2ut::placeholder{
	color:#888
}
/*Country/Region placeholder color*/
._23HvW:dir(ltr){
color:#888
}
/*Contry/Region subtext color*/
._23HvW:dir(ltr){
	color:#c0c0c0
}
/*Country/Region border color*/
._3RVyp:dir(ltr){
border-color:#000
}
/*End border color*/
._2JaId{
border-color:#000
}
/*Border colors*/
._1h3po420 ._1h3po423 {
	border-color:#000
}
/*plant.ecosia.org/pages/faq*/
/*Border color*/
.accordion-item{
	border-color:#000
}
/*plant.ecosia.org/policies/privacy-policy*/
/*Titles color*/
th, b, strong{
	color:#fff
}
/*Table left borders color*/
.rte table{
	border-color:#000
}
/*Table border color*/
td{
	border-color:#000
}
/*Table text color*/
table{
	color:#888
}
/*Language and currency buttons background*/
.disclosure__toggle{
	background-color:#000
}
/*Language and currency buttons pop-out background*/
.disclosure-list{
	background-color:#000
}
/*Language and currency buttons pop-out border color*/
.disclosure-list{
	border-color:#000
}
/*Language and currency buttons pop-out options active background*/
.disclosure-list__item:active{
	background-color:#111
}
}
@-moz-document domain("ecosiashop.com"){
:root{
--tml-menu-background-color:#000;
--tml-page-background-color:#000
}
.tml-theme{
background-color:#000
}
.transition-all{
	background-color:#000
}
.shell-footer[data-v-7f6c312e]{
	filter: invert(100%)
}
.goog-te-gadget-simple{
	filter: invert(100%)
}
}