/* ==UserStyle==
@name           Black OpenTabs Search
@namespace      github.com/openstyles/stylus
@version        1.0.3
@description    Black theme for OpenTabs Search
@author         Gersonzao
@updateURL      https://github.com/Gersonzao/Black-OpenTabs-Search/blob/main/OpenTabs Search Black.css
@homepageURL    http:github.com/Gersonzao/Black-OpenTabs-Search
==/UserStyle== */
@-moz-document domain("search.opentabs.org") {
:root {
	--counter-border-colour: #000;
	--home-counter-border-colour: #000;
}
body {
  background: #000;
}
.autocomplete_container {
  color: #fff;
  background-color: #000;
}
.autocomplete_li:hover {
  background-color: #111;
  color: #fff;
}
.suggestions-active .autocomplete_container {
  border: 1px solid #000;
}
.isActive {
  background-color: #111;
}
.drop-down-list .drop-down-item:hover {
  background: #111;
}
.drop-down-list .drop-down-item:last-child:hover {
  background: #111;
}
.serp-header {
  background: #000;
}
.serp-navigation {
  background: #000;
  border-bottom: #000
}
#serp-paging {
  background: #000;
}
.drop-down-list {
  background: #000;
}
.drop-down-list .text {
  color: #fff;
}
.footer {
  background: #000;
}
.footer .foot_links a {
  color: #95979d;
}
.serp-searchinput {
  background: #000;
  color: #aaa;
  border-color: #000
}
.progress-circle-bg {
  stroke: #000;
}
.nums a:hover {
  line-height: 42px;
  border-radius: 50%;
  background: #111;
}
.metric-item {
  background-color: #000;
}
.noresult-container {
  background: #000;
}
.noresult-wrapper {
  color: #fff;
}
}